@import "var";

/*====================================
=               HOME                 =
====================================*/
.home-main {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;


  .image-section {
    margin: 20px 0;

    img {
      width: 100%;
    }
  }

}