@import "var";

/*====================================
=               HOME                 =
====================================*/
.view-main {
  text-align: center;

  .image-section {
    margin: 20px 0;

    img {
      width: 100%;
    }
  }

  .header-section {
    h1 {
      font-size: 2em;

      strong {

        font-weight: 900;
      }
    }
  }

  .content-section {

    h2 {
      font-size: 1.8em;
      margin-top: 50px;
    }
  }

}